



/* @group elements */
* { margin: 0; padding: 0; }
html { height: 101%; font-family: Arial, Tahoma, sans-serif; }
body { font-size: 12px; background: #e8f0f7; line-height: 20px; word-spacing: 0.5px; }



#container{ }
    #header{margin:0 auto; width:95%;}
        #userpanel{float: right;padding: 2px; background-color: #eee9d5; }
            #semesters{padding: 5px; background-color: #eee9d5;}
		#courses{float:right;padding:2px; background-color:#eee9d5;}
		#links{float:right;padding:2px; background-color:#eee9d5;}
		#content{float:left;padding:2px; background-color:#eee9d5;}

